Flask
gunicorn
redis
flask-compress
flask-cors
flask-socketio
flask-profiler
flask-compress
flask-caching
python-dotenv
APScheduler
werkzeug
PyJWT
mysql-connector-python
user-agents
whitenoise
pyotp
qrcode
cloudinary
openai
python-dateutil
reportlab
eventlet
gevent
gevent-websocket
requests==2.32.3
urllib3==2.5.0
certifi>=2025.0.0
supabase
