Flask
gunicorn
flask-cors
flask-socketio
python-dotenv
requests
APScheduler
werkzeug
PyJWT
mysql-connector-python
user-agents
pyotp
qrcode
cloudinary
openai
dateutil
reportlab
eventlet
gevent
gevent-websocket
